.categoria {
  min-width: 81px;
  height: 81px;
  border-radius: 17px;
  background-color: #e3e8f1;
}

.descricao-cat {
  font-size: 12px;
}

// @media only screen and (max-width: 641px) {
//   .categoria {
//     min-width: 61px;
//     height: 61px;
//   }
// }