.dados-pessoais {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #CE1F34;
}

.username-label, .email-label {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #BEB8B9;
}

.username, .email {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #242424;
}