.user-opcao {
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.user-opcao:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-top: 1px;
  border-bottom: 2px solid white;
  transition: 0.3s;
}

.user-opcao:hover:after {
  border-bottom: 2px solid lightcoral;
  transition: 0.3s;
}

.user-opcao:hover {
  color: lightcoral;
  transition: 0.3s;
}
