.ingrediente {
    height: 50px;
    background-image: linear-gradient(to right, #E2B0FF, #9F44D3);
    border-radius: 10px;
}

.ingrediente p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}