$break-navbar: 320px;

.navlink:hover {
  color: inherit;
}

.navlink {
  text-decoration: none;
  color: white;
}

.sidebar {
  background-color: #e11948;
  opacity: 0.85;

  display: block;
  height: 100vh;
  width: 25vh;

  @media screen and (max-width: $break-navbar) {
    width: 5vh;
  }
}

.options-menu {
  width: 100%;
  text-decoration: none;
  color: white;
}

.options-menu div {
  width: 100%;
  list-style: none;
}

.item {
  padding: 10px;
}

.active {
  font-weight: bold;
  font-size: 25px;
}
