* {
  /* max-height: 90%; */
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}
.hz {
  width: 250px;
  height: 120px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
}

.hz, .card-receita {
  display: inline-block;
  margin: 5px;
}
/* .masher-container {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
} */

.masher-container .btn-masher {
  position: fixed;
  bottom: 20;
  height: 60px;
  width: 60px;
  right: 20;
  margin: auto;
  cursor: pointer;
  border-radius: 50%;
}
.card-receita {
  max-width: 12rem;
}

.card-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ms-gray {
  color: #768189;
}

.first-section, .third-section {
  box-shadow: 4px 6px 4px -4px #E3E8F1;

}

.wrapper-acoes-rapidas {
  height: 90px;
}

.wrapper-acoes-rapidas div:first-child {
  margin-left: 15px;
}

.wrapper-categorias div:first-child {
  margin-left: 2px;
}

.fourth-section {
  margin-bottom: 50px;
}

